html, body {
    height: 100%;
}

.row {
    max-width: 100%;
}

#banner {
    overflow: hidden;
    height: 100%;
}

.bg-image {
    height: 100%;
    overflow: hidden;background-color: #2b334f;
    background-image: url(../images/light-3.jpg);
    background-repeat: no-repeat;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 0px) {
    body[data-hijacking="on"] {
        overflow: hidden;
    }
}

.section {
    height: 100vh;
}

.section h2 {
    line-height: 100vh;
    text-align: center;
    font-size: 2.4rem;
}

.section:first-of-type > div {
    background-color: #2b334f;
}

.section:first-of-type > div::before {
    /* alert -> all scrolling effects are not visible on small devices */
    content: 'Effects not visible on mobile!';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    z-index: 2;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #6a7083;
}

.section:nth-of-type(2) > div {
    background-color: #2e5367;
}

.section:nth-of-type(3) > div {
    background-color: #267481;
}

@media only screen and (min-width: 1050px) {
  .section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .section > div, [data-animation="gallery"] .section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}